body {
    background-color: wheat;
    font-family: Georgia;
}

p {
    color: brown;
    line-height: 30px;
    text-align: center;
}

h1 {
    text-align: center;
    color: red;
}

h3 {
    text-align: center;
    color: black;
}

h4 {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(0, 235, 0);
}

button {
    background-color: #fff;
    color: blueviolet;
}

textarea {
    color: #000;
}

span {
    text-decoration: underline;
}