
/* universal selector  */
* {
    font-family: 'Courier New', Courier, monospace;
    background-color: wheat;
}

/* h3 {
    color: purple;
} */

/* element selector  */
h1,h3 {
    color: #B92B27;
}

/* id selector  */
#login {
    background-color: #fff;   
    color: #B92B27;
}

/* id selector  */
#signup {
    background-color: #B92B27;
    color: #fff;
}

/* class selector  */
.upvote {
    background-color: green;
    color: aliceblue;
}

#myid {
    color: green 
}

/* descendent selector  */

.post a {
    color: purple;
    background-color: yellow;
}

nav ul li {
    color: hotpink;
}

nav ul li a {
    color: brown;
}

/* sibling combinator */

p + h3 {
    text-decoration: underline;
}

.upvote + button {
    background-color: whitesmoke;
}

/* child combinator  */

div > input {
    background-color: #B92B27;    
}

/* attribute selector  */
input[type="text"] {
    color: green;
}

input[type="password"] {
    color: red;
}

input[type] {
    background-color: ghostwhite;
}

/* pseudo class / hover  property */

button:hover {
    background-color: #000;
    color: white;
}

h3:hover {
    text-decoration: overline;
}

/* active property  */
button:active {
    background-color: hotpink;
}

p:active {
    font-weight: bold;
    color: green;
}

/* nth-of-type  */
div:nth-of-type(2n) {
    background-color: aliceblue;
}

/* pseudo element  */
h1::first-letter {
    color: black;
}

p::first-line {
    color: green;
}

p::selection {
    background-color: tan;
    color: #fff;
}

/* casecading css  */
h3 {
    background-color: tan;
}

h3 {
    background-color: cadetblue;
}
