
/* universal selector  */
* {
    font-family: 'Courier New', Courier, monospace;
    background-color: wheat;
}

/* h3 {
    color: purple;
} */

/* element selector  */
h1,h3 {
    color: #B92B27;
}

/* id selector  */
#login {
    background-color: #fff;   
    color: #B92B27;
}

/* id selector  */
#signup {
    background-color: #B92B27;
    color: #fff;
}

/* class selector  */
.upvote {
    background-color: green;
    color: aliceblue;
}

#myid {
    color: green 
}

/* descendent selector  */

.post a {
    color: purple;
    background-color: yellow;
}

nav ul li {
    color: hotpink;
}

nav ul li a {
    color: brown;
}

/* sibling combinator */

p + h3 {
    text-decoration: underline;
}

.upvote + button {
    background-color: whitesmoke;
}

/* child combinator  */

div > input {
    background-color: darkcyan;
    
}