* {
    background-color: azure;
}

.box {
    height: 100px;
    width: 300px;
    background-color: pink;

    /* animation-name: fontAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 4;
    animation-direction: alternate; */

    /* animation-name: colorAnimation;
    animation-delay: 0;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-iteration-count: 2;
    animation-direction: normal; */


    /* animation-name: widthAnimate;
    animation-duration: 3s;
    animation-delay: 0;
    animation-timing-function: ease-in;
    animation-iteration-count: 4;
    animation-direction: alternate; */

    animation: widthAnimate 3s ease-in 0s 4 alternate;

    animation: colAnimate 10s ease-in 0s infinite alternate;
}

@keyframes colAnimate {
    0% {
        background-color: green;
    }

    50% {
        background-color: black;
    }

    80% {
        background-color: red;
    }

    100% {
        background-color: blue;
    }
}


@keyframes widthAnimate {
    from {
        width: 30px;
        background-color: goldenrod;
    }

    to {
        width: 400px;
        background-color: brown;
        border-radius: 15px;
    }
}


@keyframes fontAnimation {
    from {
        font-size: 20px;
    }

    to {
        font-size: 40px;
    }
}

@keyframes colorAnimation {
    from {
        background-color: green;
    }

    to {
        background-color: blue;
    }
}