* {
    /* background-color: aliceblue; */
}


/* Question No 1  */

.container {
    margin: 20px auto;
    height: 400px;
    width: 400px;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    height: 100px;
    width: 100px;
    font-size: 50px;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    background-color: gray;
    text-align: center;
}


/* Question No 2 */

.navbar {
    height: 50px;
    width: 900px;
    font-size: 24px;
    background-color: pink;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.option {
    height: 50px;
    width: 80px;
    font-size: 24px;
    border-radius: 10px;
    margin-left: 5px;
    line-height: 50px;
}