* {
    background-color: aliceblue;
}

h1 {
    text-align: center;
}


/* flexbox property  */
.container {
    height: 600px;
    width: 60%;
    background-color: aliceblue;
    margin: 10px auto;
    border: 2px solid;
    display: flex;
}

/* flex direction property  */
.container {
    flex-direction: row;
}


/* justify content  */
.container {
    justify-content: flex-start;
}

/* flex wrap property  */
.container {
    /* flex-wrap: wrap;     */
}


/* align items  */
.container {
    /* align-items: baseline; */
}


/* align content  */
.container {
    align-content: flex-start;
}

/* align self  */
#org {
    align-self: flex-starts;
}


/* flex grow  */
#org {
    /* flex-basis: 50px; */
    /* flex-grow: 1; */
}


#blue {
    /* flex-basis: 400px;
    flex-grow: 3;
    min-width: 400px; */
}

/* flex shrink  */
#red {
    /* flex-shrink: 2; */
}

#blue {
    flex: 2;
}

/* flex shorthand  */
 #org {
    flex: 2 2 100px;
 }

.container div {
    height: 100px;
    width: 50px;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}